<nav class="navbar">
  <% include admin-logo %>
  <a href="/contest" class="navbar--item navbar--item__link"> Contest </a>
  <a href="/admin/users" class="navbar--item navbar--item__link"> Users </a>
  <a href="/admin/config" class="navbar--item navbar--item__link"> Configuration </a>
  <div class="navbar--separator"></div>
  <p id="timer" class="navbar--item"></p>
  <a href="/logout" class="navbar--item navbar--item__link"> Logout </a>
  <script src="/scripts/timer.js"></script>
</nav>
