<title>IPC</title>
<link rel="stylesheet" type="text/css" href="/styles/main.css">
<script src="/external/jquery.min.js"></script>
<meta
  name="viewport"
  content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"
/>
<meta name="og:type" content="website" />
<meta name="og:site_name" content="Interlake Programming Contest" />
<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'self' localhost:* ws://localhost:*; font-src 'self' data: cdnjs.cloudflare.com; script-src 'self' cdnjs.cloudflare.com; object-src 'none'; style-src 'self' 'unsafe-inline'"
/>
<script src="/scripts/util.js"></script>