<title>IPC</title>
<link rel="stylesheet" type="text/css" href="/styles/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta
  name="viewport"
  content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"
/>
<meta name="og:type" content="website" />
<meta name="og:site_name" content="Programming Judge" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'self' localhost:* ws://localhost:*; font-src 'self' data: cdnjs.cloudflare.com; script-src 'self' cdnjs.cloudflare.com; object-src 'none'; style-src 'self' 'unsafe-inline'"
/>