<nav class="navbar">
  <% include logo %>
  <a href="/" class="navbar--item navbar--item__link"> Home </a>
  <a href="/login" class="navbar--item navbar--item__link"> Contest </a>
  <a href="https://github.com/chen-robert/contest-judge" rel="noopener" target="_blank" class="navbar--item navbar--item__link"> Github </a>
</nav>
