<nav class="navbar">
  <a href="/" id="navbar-problems" class="navbar--link"> Problems </a>
  <a href="/scoreboard" id="navbar-scoreboard" class="navbar--link"> Scoreboard </a>
  <p id="timer" class="navbar--timer"></p>
  <script src="/scripts/timer.js"></script>
</nav>