<nav class="navbar">
  <a href="/contest" class="navbar--link"> Problems </a>
  <a href="/contest/scoreboard" class="navbar--link"> Scoreboard </a>
  <a href="/logout" class="navbar--link"> Logout </a>
  <p id="timer" class="navbar--timer"></p>
  <script src="/scripts/timer.js"></script>
</nav>