<nav class="navbar">
  <% include logo %>
  <% if(name === "admin") { %>
    <a href="/admin" class="navbar--item navbar--item__link"> Admin </a>
  <% } %>
  <a href="/contest" class="navbar--item navbar--item__link"> Problems </a>
  <a href="/contest/scoreboard" class="navbar--item navbar--item__link"> Scoreboard </a>
  <a href="/contest/about" class="navbar--item navbar--item__link"> About </a>
  <div class="navbar--separator"></div>
  <p id="timer" class="navbar--item"></p>
  <a href="/logout" class="navbar--item navbar--item__link"> Logout </a>
  <script src="/scripts/timer.js"></script>
</nav>
