# Node.js
node_modules/
v8-compile-cache-0/
npm-debug.log

# Uploaded files
uploads

# Less files get compiled into css files. Ignore these.
public/styles/*.css

# Problems
problems/*
!problems/sample

# Used in problem generation
**/generated
*.class