@import "config";
@import "navbar";
@import "problems";
@import "scoreboard";

.login {
  width: 100vw;
  height: 100vh;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  overflow-x: hidden;
  font-family: Intro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form--input {
  display: block;
  padding: 10px;
  outline: 0;
  border: solid 1px #e5e5e5;
  background: white;
  margin: 25px;
}

.form--button {
  display: block;
  padding: 10px 15px;
  margin: 10px;
  background: @theme-color;
  border: 0;
  color: white;
  cursor: pointer;
}

.form--button__align-right {
  float: right;
}

.error {
  position: absolute;
  top: 25px;
  width: 100%;

  text-align: center;
  background-color: #eee;
  padding: 25px;
}

/* Clear yellow background for input fields */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}
