<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/main-header %>
    <% include ../partials/main-navbar.ejs %>
  </head>
  <body>
    <% include ../partials/popup %>
    <section class="header">
      <div class="header--title">
        <div class="title--main">Interlake Programming Contest</div>
        <div class="title--secondary">Winter 2019</div>
      </div>
    </section>
    <main class="content">
      <section class="content--body">
        <p class="body--title">General Info</p>
        <p class="body--subtitle">Location: </p>
        <a href="https://www.google.com/maps/place/Interlake+High+School/@47.6289376,-122.1262297,17z/data=!3m1!4b1!4m5!3m4!1s0x54906da201112251:0xefc929dd1c0ff5c3!8m2!3d47.628934!4d-122.124041" rel="noopener" target="_blank">
          Interlake High School
        </a>
      </section>
      <section class="content--body">
        <p class="body--title">Rules</p>
        <p>1. Teams must consist of one to three people</p>
        <p>2. Each team is only allowed one computer</p>
        <p>3. No use of the internet during the competition. Paper documentation is allowed however</p>
      </section>
      <section class="content--body">
        <p class="body--title">Sponsors</p>
        <div class="sponsor">
          <p>Your Logo Here</p>
        </div>
        <br>
        <a href="mailto:interlakeprogrammingclub@gmail.com">Contact Us</a>
      </section>
    </main>
  </body>
</html>
