<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/main-header %>
    <% include ../partials/main-navbar.ejs %>
  </head>
  <body>
    <% include ../partials/popup %>
    <section class="header">
      <div class="header--title">
        <div class="title--main">Interlake Programming Contest</div>
        <div class="title--secondary">Winter 2019</div>
      </div>
    </section>
  </body>
</html>
