<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <% include ../partials/popup %>
    <div class="login">
      <form class="form form__centered" action="/login" method="POST">
        <h1 class="login--title">IPC</h1>
        <input
          autofocus
          required
          autocomplete="username"
          class="form--input"
          placeholder="Username"
          name="username"
        />
        <input
          required
          autocomplete="current-password"
          class="form--input"
          type="password"
          placeholder="Password"
          name="password"
        />
        <button class="form--button form--button__align-right" type="submit">
          Login
        </button>
      </form>
    </div>
  </body>
</html>
