@import "config";
@import "login";
@import "navbar";
@import "problems";
@import "scoreboard";
@import "logo";

.header {
  display: flex;
  height: 400px;

  background-color: #111;
  align-items: center;
  justify-content: center;
}

.header--title {

  color: white;
  font-size: 3em;
}

.title--secondary {
  font-size: .8em;
  color: #ddd;
}

.navbar {
  box-shadow: none;
  font-size: 1.2em;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: monospace;
}
