@import "config";
@import "login";
@import "navbar";
@import "problems";
@import "scoreboard";
@import "logo";

.header {
  display: flex;
  height: 400px;

  align-items: center;
  justify-content: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(30, 30, 100, 1)), url(/imgs/pattern.png);
}

.header--title {
  color: white;
  font-size: 3em;
}

.title--secondary {
  font-size: .8em;
  color: #ddd;
}

.navbar {
  box-shadow: none;
  font-size: 1.1em;
}

.content {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.content--body {
  font-size: 1.3em;
  border: 1px solid #eee;
  margin: 25px;
  padding: 25px;
  height: auto;
  line-height: 1.5em;

  flex: 1;

  & a {
    color: @link-color;
    font-size: 1.1em;
    text-decoration: inherit;
    &:hover {
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      color: darken(@link-color, 10%);
    }
  }
}

.body--title {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 15px;
}

.body--subtitle {
  font-size: 1.2em;
  display: inline;
}

.sponsor {
  border: 1px #ccc dashed;
  padding: 25px;
  color: #aaa;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: monospace;
}
