@import "config";
@import "login";
@import "navbar";
@import "problems";
@import "scoreboard";

.form {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.form__centered {
  width: 50%;
  max-width: 500px;
  min-width: 250px;
}

body {
  overflow-x: hidden;
  font-family: monospace;
}

.tutorial-section {
  padding: 50px;
}

.form--input {
  display: block;
  padding: 15px;
  outline: 0;
  border: solid 1px #e5e5e5;
  background: white;
  margin: 5px;
  width: 100%;
  font-size: 1em;

  transition: box-shadow @animation-duration;

  &:focus {
    border: solid 1px #d5d5d5;
  }
}

::-webkit-file-upload-button, .form--button {
  background: @theme-color;
  border: 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  transition-duration: @quick-animation-duration;

  &:hover {
    background: darken(@theme-color, 5%);
  }
}

.form--button {
  display: block;
  padding: 10px 15px;
  margin: 10px;

  width: 80%;
  font-size: 1.1em;
}

.form--button__slim {
  padding: 2px 10px;
  margin: 10px 0;
  width: unset;
}

.form--input__slim {
  margin: 10px 0;
}

.form--button__align-right {
  float: right;
}

/* Clear yellow background for input fields */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}
