@import "config";

.problem-section {
  width: 100%;
  display: flex;

  padding: 50px 0;
}

.problem-statement {
  line-height: 2;
  padding: 25px;
  background-color: #eee;
  box-shadow: 0 5px 5px rgba(68, 68, 68, 0.6);
}

.problem-statement__hidden {
  display: none;
}

.problem-submit {
  width: 350px;
  flex-shrink: 0;
}

.form__problems {
  width: 50%;
  min-width: 150px;

  margin: 0 auto;
}

.problem--title {
  font-size: 1.5em;
  line-height: 1;
}

.problem--author {
  font-size: 1.1em;
}

.problem--difficulty {
  font-size: 0.7em;
  float: right;
}

.problem--text {
  font-size: 1.1em;
  padding: 15px 0;
  white-space: pre-wrap;

  & h2 {
    font-size: 1.1em;
    font-weight: 600;
  }
}

.problem-list {
  flex-shrink: 0;
}

#problems {
  flex-grow: 1;
}

.problem-list--item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;

  font-size: 1.3em;
}

.problem-list--link {
  color: #444;
  text-decoration: none;
  padding: 10px;

  transition-duration: @animation-duration;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  }
}

.problem-list--link__done {
  color: #aaa;
}

.MathJax {
  font-size: 0.1em !important;
}
