.problem-section {
  width: 100%;
  display: flex;
}

.problem-statement {
  margin: 25px;
  padding: 25px;
  background-color: #eee;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

  & h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: inherit;
  }
}

.problem-submit {
  width: 350px;
  flex-shrink: 0;
}

.problem--title {
  font-size: 2em;
}

.problem--title__secondary {
  font-size: 1.5em;
}

.problem--text {
  font-size: 1.1em;
  padding: 15px 0;
  white-space: pre-wrap;
}

.problem-list {
  width: 350px;
  flex-shrink: 0;
}

#problems{
  flex-grow: 1;
}

.problem-list--item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
