.submissions {
  width: 100%;
  text-align: center;

  border-collapse: collapse;
  & th,
  & td {
    border-bottom: 1px solid #eee;
  }
}

.submissions--row {
  &:hover {
    background-color: #eee;
  }
}

.submissions--input {
}

.scoreboard-section {
  width: 100%;
  padding: 50px;

  display: flex;
  justify-content: center;
}

.scoreboard {
  width: 50%;
}

.scoreboard--data {
  text-align: center;
}
