<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/header %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  </head>
  <body>
    <% include ../../partials/popup %>
    <% include ../../partials/navbar %>
    
    <section class="tutorial-section">
      <div class="problem-statement">
        <div class="problem--title">General Info</div>
        <div class="problem--text">
          <p>Problem input and output is done through standard IO, stdio. In other words, your program should read input from the console and output it the console. </p>
          <p>Input bounds are provided for every problem. Programs will be limited to 4 seconds, meaning that proper efficiency must be achieved. As a rough approximation, you should aim for under 100 million operations with the maximum input size.</p>
          <p><b>Note for python users</b>: Only Python 3 is supported. It's mostly backwards compatible so Python 2 programs <i>should</i> run properly.</p>
        </div>
      </div>
    </section>
    <section class="tutorial-section">
      <div class="problem-statement">
          <div class="problem--title">Sample Problem</div>
          <div class="problem--text"><%- md.render(sampleProblem.statement) %></div>
      </div>
    </section>
    <section class="tutorial-section">
      <div class="problem-statement">
        <div class="problem--title">Solutions</div>
        <div class="problem--text">
          <p>You can find possible solutions to the sample problem below. This should illustrate how to read and write data.</p>
          <% samples.forEach(sample => { %> 
            <p><a href="/contest/tutorial/samples/<%= sample %>"><%= sample %></a></p>
          <% }) %>
        </div>
        </div>
    </section>
  </body>
</html>
