<!DOCTYPE html>
<html lang="en">
    <% include ../../partials/header %>
    <link rel="stylesheet" href="/styles/admin.css">
  </head>
  <body>
    <% include ../../partials/popup %>
    <% 
    function prettyPrint(time){
      const date = new Date(time);

      return date.toString();
    }
    %>
    <form action="/admin/config/update" method="POST" class="form">
      <label for="data">Config JSON</label>
      <textarea class="textarea form--input" name="data"><%= JSON.stringify(config, undefined, 2) %></textarea>
      <button class="form--button" type="submit">Submit</button>
    </form>
    <form action="/admin/config/time" method="POST" class="form">
      <label for="startTime">Start Time</label>
      <input class="form--input" name="startTime" value="<%= prettyPrint(config.startTime) %>">
      <label for="endTime">End Time</label>
      <input class="form--input" name="endTime" value="<%= prettyPrint(config.endTime) %>">
      <button class="form--button" type="submit">Submit</button>
    </form>
  </body>
</html>
