<!DOCTYPE html>
<html lang="en">
    <% include ../../partials/header %>
    <% include ../../partials/admin-navbar %>
    <link rel="stylesheet" href="/styles/admin.css">
  </head>
  <body>
    <% include ../../partials/popup %>
    <% 
    function prettyPrint(time){
      const date = new Date(time);

      return date.toString();
    }
    %>
    <div class="admin-wrapper">
      <form action="/admin/config/update" method="POST" class="form">
        <label for="data">Config JSON</label>
        <textarea style="height: 250px" class="textarea form--input" name="data"><%= JSON.stringify(config, undefined, 2) %></textarea>
        <button class="form--button form--button__skinny" type="submit">Submit</button>
      </form>
      <br>
      <br>
      <form action="/admin/config/time" method="POST" class="form">
        <label for="startTime">Start Time</label>
        <input class="form--input" name="startTime" value="<%= prettyPrint(config.startTime) %>">
        <label for="endTime">End Time</label>
        <input class="form--input" name="endTime" value="<%= prettyPrint(config.endTime) %>">
        <button class="form--button form--button__skinny" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
