<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/header %>
    <% include ../../partials/admin-navbar %>
    
    <link rel="stylesheet" type="text/css" href="/styles/admin.css">
  </head>
  <body>
    <div style="font-size: 5em; padding-top: 150px;">
      <% include ../../partials/admin-logo %>
    </div>
  </body>
</html>
