<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/header %>
  </head>
  <body>
    <a href="/admin/users">Manage Users</a>
    <br>
    <a href="/admin/config">Manage Configuration</a>
  </body>
</html>
