<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Programming Judge | Admin</title>
    <script src="/admin.js"></script>
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"
    />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Programming Judge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' localhost:* ws://localhost:*; font-src 'self' data:; script-src 'self'; object-src 'none';"
    />
  </head>
  <body>
    <a href="/admin/users">Manage Users</a>
    <a href="/admin/problems">Manage Problems</a>
  </body>
</html>
