<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/header %>
    <% include ../../partials/admin-navbar %>
    <link rel="stylesheet" type="text/css" href="/styles/admin.css">
    <script src="/scripts/admin/users.js"></script>
  </head>
  <body>
    <% include ../../partials/popup %>
    <div class="form">
      <form action="/admin/users/add" method="POST">
        <h1>Add User</h1>
        <input class="form--input" placeholder="Username" name="username" autofocus required/>
        <input class="form--input" placeholder="Password" name="password" required />
        <select class="form--input" name="division">
          <option value="beginner">Beginner</option>
          <option value="advanced">Advanced</option>
        </select>
        <button class="form--button" type="submit">Submit</button>
      </form>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Division</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="users" style="text-align: center">
        <% users.forEach(user => { %>
        <tr class="submissions--row">
          <td><%= user.username %></td>
          <td><%= user.division %></td>
          <td class="submissions--delete" data-username="<%= user.username %>">X</td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
