<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/header %>
  </head>
  <body>
    <div class="form">
      <form action="/admin/user/add" method="POST">
        <h1>Add User</h1>
        <input class="form--input" placeholder="Username" name="username" />
        <input class="form--input" placeholder="Password" name="password" />
        <select class="form--input" name="division">
          <option value="beginner">Beginner</option>
          <option value="advanced">Advanced</option>
        </select>
        <button class="form--button" type="submit">Submit</button>
      </form>
    </div>
    <table class="submissions">
      <thead>
        <tr>
          <th>Username</th>
          <th>Division</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="users"></tbody>
    </table>
  </body>
</html>
